/* .AddFoodForm {
    color: white;
    margin-top: 1em;
}

.AddFoodForm-container {
    color: white;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    margin: auto;
    width: 20em;
}

.AddFoodForm-container,
button {
    margin-top: 1em;
}

.AddFoodForm-h2 {
    margin-left: 4em;
}

.AddLunchForm {
    color: white;
    margin-top: 2em;
}

.AddLunchForm-container {
    color: white;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    margin: auto;
    width: 30em;
}

.AddLunchForm
textarea {
    width: 30em;
    height: 5em;
}

.AddLunchForm-container,
button {
    margin-top: 1em;
}

.AddLunchForm-h1 {
    margin-left: 2em;
}*/

body {
    font-family: Trebuchet MS;
    background-color: rgba(34, 128, 144, 0.718);
}
/*
.FavoriteCard{
    color: white;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 2em;
    margin-right: 2em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    width: 40em;
}
 
.Form-Btn-Container {
    font-size: larger;
}

  
.Form-container {
    width: 300px;
    color: red;
    background-color:khaki;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 4em;
    padding-bottom: 1em;
    margin: auto;
    margin-top: 100px;
}

.Header {
    position: relative;
    background-color: white;
    text-align: left;
    font-size: large;
    padding-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.Header-h1 {
        color: red;
        background-color: white;
        height: 200px;
        font-size: 50px;
        margin-left: 1em;
    }


.Header-h4 {
    color: red;
    background-color: white;
    margin-top: -90px;
    margin-left: 5em;
    font-size: x-large;
}

.Header-lunchbox {
    display: inline;
    height: 200px;
    margin-top: -100px;
    margin-left: 500px;
}

.Home-container {
    color: white;   
}

.Home-loggedOut,
h2 {
    color: white;
    margin-left: 30px;
}

.Home-loggedIn,
h1 {
    color: white;
    margin-top: 100px;
}

.Home-loggedIn,
h2 {
    color: white;
    margin-top: 80px;
    margin-left: -5px;
}

.Home-loggedIn, .Home-loggedOut {
    text-align: center;
    color: white;
    font-size: larger;
}

img {
    height: 100px;
}



.LunchCard {
    color: white;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 8em;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1.2em;
    width: 50em;
}

.LunchList-header {
    color: white;
    margin-left: 2em;
}

.LunchList-emptySearchResults {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.LunchDetails-header {
    color: white;
    margin-top: 2em;
    margin-left: 2em;
}

.LunchDetails-container {
    color: white;
    margin-left: 6em;
}

.LunchDetails-foodList {
    color: white;
    margin-left: 3em;
}

.LunchDetails-foods {
    column-count: 3;
    margin-left: 4em;
    margin-right: -11em;
}

.LunchReviewCard {
    color: white;
    text-align: center;
    background-color: khaki;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
    margin-left: 3em;
    margin-bottom: 1em;
    width: 40em;
}

.Navbar {
    padding-top: 5px;
    padding-bottom: 25px;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
} 

.navBtn {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color: white;
    font-size: large;
    color: red;
    margin-left: 30px;
    

    &:hover {
        background: red;
        color: white;
    }
}

.navBtn home {
    margin-left: 30px;
}

.navBtnLink {
    color: red;
    font-size: larger;
    border-style: none;
    text-decoration: none;

    &:hover {
        color: white;
        background: red;
    }
}

.navBtnContainer {
    color: white;

    &:hover {
        color: white;
    }
}


.Profile-container {
    color: white;
    margin-left: 10em;
    margin-right: 4em;
    margin-top: 1em;
    column-count: 2;
    column-gap: 50px;
}

.ProfileForm {
    color: white;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: -1em;
    padding-left: 2em;
    padding-bottom: 1em;
    width: 20em;
}

.ReviewList-container {
    color: white;
}

.ReviewList-header {
    color: white;
    margin-left: 2em;
}

.ReviewList-emptyMessage {
    color: white;
    text-align: center;
    margin-top: 100px;
}

.ReviewCard-container {
    color: white;
    text-align: center;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    margin-left: 8em;
    margin-bottom: 1em;
    width: 40em;
}

.ReviewCard-updateForm {
    color: white;
    text-align: center;
    background-color: khaki;
    border: 1px solid black;
    border-radius: 5px;
    padding-right: 3em;
    padding-bottom: 1em;
    padding-left: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin: auto;
    width: 15em;
}

.ReviewUpdateForm-textarea {
    width: 200px;
    height: 75px;
    margin-left: 10px;
}

.ReviewUpdateForm-submitButton {
    text-align: center;
    margin-left: 1em;
}

.RegistrationForm-container {
    color: white;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 2em;
    padding-bottom: 1em;
    margin: auto;
    width: 20em;
}

.ReviewForm-container {
    color: white;
    text-align: center;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin: auto;
    width: 30em;
}

.ReviewForm-reviewTextArea {
    width: 30em;
    height: 20em;
}

.SearchForm {
    color: white;
    text-align: center;
}

.UserFavoriteCardList {
    margin-left: 8em;
}
.UserFavoritesList-header {
    color: white;
    margin-left: 2em;
}

.UserFavoritesList-lunches {
    margin-left: 6em;   
}

.UserFavoritesList-emptyMessage{
    color: white;
    text-align: center;
    margin-top: 100px; 
}*/

/* .LunchFoodCard {
    color: white;
    display: inline-block;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    padding-top: 1em;
    padding-left: 2em;
    width: 15em;
}

.LunchFoodCardList {
    margin-left: 2em;
}
.LunchFoodCard,
p {
    color: white;
} */


/* .FoodList-container {
    color: white;
    margin-left: 4em;
}

.FoodList-addFoodButton {
    text-align: center;
}

.FoodList-createLunchButton {
    text-align: center;
}

.FoodList-foods {
    margin-left: 6em;
}

.FoodCardList {
    margin-left: 6em;
}
.FoodCard {
    color: white;
    display: inline-block;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
    width: 15em;
} */